<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>My Lessons:</h2>
        
        <!-- Bar containing all sort inputs -->
      <div id="sort-bar">
        <select name="sortBy" id="select" v-model="sortBy">
          <option value="Subject">Subject</option>
          <option value="Location">Location</option>
          <option value="Price">Price</option>
          <option value="Space">Space</option>
        </select>
        <button v-on:click="ascending = !ascending" class="sort-button">
          <i v-if="ascending" class="fa fa-sort-up"></i>
          <i v-else class="fa fa-sort-down"></i>
        </button>
        <input type="text" v-model="searchValue" placeholder="Search Lesson" id="search-input"></input>
        <i class="fa fa-search" id="search-icon"></i>

        <button v-on:click="showCartPage" v-if="cartItemCount > 0" >
            {{ cartItemCount }}
            <span class="fas fa-cart-plus"></span> Checkout</button>
          </button>
      </div>

      <div id="lesson-container" v-if="showCart">
        <div class="card" v-for="lessons in sortLesson" :key="lesson.Subject">
        <figure class="lesson-image">
            <img :src="lessons.image" alt="">
        </figure>
        <div class="content">
        <h2 class="subject">Subject: {{ lessons.Subject}}</h2>
        <p>Location: {{ lessons.Location}} </p>
        <p>Price: {{ lessons.Price}}</p>
        <p>Space: {{ lessons.Space > 0 ?
            lessons.Space : "All out"}}</p>
        <button v-on:click="addLesson(lessons)" v-if="canAddToCart" :disabled="lessons.Space < 1">
            Add To Cart
        </button>
        <button disabled='disabled'v-else>Add to cart</button>
    </div>
    </div>
    </div>
    <div v-else>
        <button v-on:click="showCartPage">
            {{ cartItemCount }}
            <span class="fas fa-cart-plus"></span> Checkout</button>
          </button>
        <div class="card">
        <h1>Shopping Cart</h1>
            <div v-for="lessons in cartItem()">
            <h3 v-text="lessons.Subject"></h3>
            <img :src="lessons.image" alt="">
            <h4 v-text="lessons.Location"></h4>
            <p>Price: ${{ lessons.Price }}</p>
            <button v-on:click="removeItem($event, lessons.id)">Remove</button>
            </div>
        </div>
            <p>
                <strong>Name:</strong>
                <input type="text" v-model.trim="name" required>
            </p>
            <p>
                <strong>Phone Number:</strong>
                <input type="number" v-model.number="phone" required>
            </p>
            <button :disabled="!name || !phone" @click="submitForm">Check Out</button>
    </div>
    </div>

<script src="lessons.js"></script>
<script type="text/javascript">
var lessonObj = new Vue({
    el:'#app',
    data: {
        lesson:lessons,
        ascending: true,
        sortBy: 'Subject',
        searchValue: '',
        showCart: true,
        name: '',
        phone: '',
        cart :[]
        },
computed: {
    sortLesson() {
        let tempLesson = this.lesson

// Process search input
    if (this.searchValue != '' && this.searchValue) {
        tempLesson = tempLesson.filter((item) => {
          return item.Subject
            .toUpperCase()
            .includes(this.searchValue.toUpperCase()) || 
            item.Location
            .toUpperCase()
            .includes(this.searchValue.toUpperCase())
        })
      }
// Sort by Subject 
    lessons.sort((a, b) => {
        if (this.sortBy == 'Subject') {
            let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
          if (fa < fb) {
            return -1
            }
            if (fa > fb) {
                return 1 
            }
            return 0
        }
// Sort by Location
        else if (this.sortBy == 'Location') {
            let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
          if (fa < fb) {
            return -1
            }
            if (fa > fb) {
                return 1 
            }
            return 0
        }
//Sort by Price
        else if (this.sortBy == 'Price') {
            let fa = a.Price.toLowerCase(), fb = b.Price.toLowerCase()
          if (fa < fb) {
            return -1
            }
            if (fa > fb) {
                return 1 
            }
            return 0
        }
//Sort by Space
        else if (this.sortBy == 'Space') {
            return tempLesson.filter(a.Space - b.Space)
        }
    })
        
// Show sorted array in descending or ascending order
        if (!this.ascending) {
        	tempLesson.reverse()
        }
        return tempLesson

        

    },
    cartItemCount: function(){
        return this.cart.length || '';
    },   
},
methods: {
    showCartPage(){
        this.showCart = this.showCart ? false : true;
    },
    addLesson(lesson){
        this.cart.push(lessons)
        lessons.Space -= 1
    },
    cartCount(id){
            let count = 0;
            for(let i = 0; i < this.cart.length; i++) {
                if (this.cart[i] === id) {
                    count++;
                }
            }
    },
    canAddToCart: function(lesson){
        return this.lesson.availableSpace > this.cartCount(lesson.id);
    },
    cartItem(){
        let show = this.cart
        return show
    },
    removeItem(event, id) {
        let idx;
        let [lessons, index] = this.lesson.filter((k, index) => {
            if (k.id == id) {
            idx = index;
            return k;
              }
            });

            lessons.Space ++
            this.cart.pop(lessons.id);
    },
    submitForm() {
        alert('Check Out Successful')
    },
    created: function(){
        //Fetch to retrieve all lessons with GET
        fetch('http://individualcw2-env.eba-ataitxxx.eu-west-2.elasticbeanstalk.com/')
            .then(response => response.json())
            .then(lessons => console.log(lessons))
            .catch(error => console.error(error));
        
        // Fetch to save a new order with POST
        fetch('http://individualcw2-env.eba-ataitxxx.eu-west-2.elasticbeanstalk.com/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        body: JSON.stringify({
        order: {
        customerName: 'John Doe',
        lessonId: '011'
        }
    })})
  .then(response => response.json())
  .then(order => console.log(order))
  .catch(error => console.error(error));

  // Fetch to update available lesson space with PUT
    fetch('http://individualcw2-env.eba-ataitxxx.eu-west-2.elasticbeanstalk.com/', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({lesson: {availableSpaces: 5}})
})
  .then(response => response.json())
  .then(lesson => console.log(lesson))
  .catch(error => console.error(error));
    },
    //search
    searchLessons(query) {
        fetch(`/search?q=${query}`)
            .then(res => res.json())
            .then(data => {
                // handle the search results
            })
            .catch(error => console.error(error));
    }

    }
    
})
</script>
</body>
</html>